@CHARSET "ISO-8859-1";

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

label{
	width:100%
}

input[type='text']{
	width:5%;
}

@media only screen and (max-width: 768px) {
    label,{
      width:85%;
    }
    
    input[type='text']{
	  width:100%;
    }

    .button{
      width:100%;
      margin-bottom:10px;
    }
    
    .align-center{
	text-align:center;
   }
}

.hide{
	display:none;
}

.warning{
	color:red;
}

.winner{
	color:blue;
	width:85%;
}

.font20{
	font-size:20px;
}

.bold{
	font-weight:bold;
}


